$supported-languages: (
  af: '“-”-‘-’',
  af-ZA: '“-”-‘-’',
  sq: '„-“-‘-’',
  sq-AL: '„-“-‘-’',
  ar: '“-”',
  ar-DZ: '“-”',
  ar-BH: '“-”',
  ar-EG: '“-”',
  ar-IQ: '“-”',
  ar-JO: '“-”',
  ar-KW: '“-”',
  ar-LB: '“-”',
  ar-LY: '“-”',
  ar-MA: '“-”',
  ar-OM: '“-”',
  ar-QA: '“-”',
  ar-SA: '“-”',
  ar-SY: '“-”',
  ar-TN: '“-”',
  ar-AE: '“-”',
  ar-YE: '“-”',
  hy: '«-»',
  hy_AM: '«-»',
  az: '«-»-‹-›',
  az-AZ-Cyrl: '«-»-‹-›',
  az-AZ-Latn: '«-»-‹-›',
  eu: '«-»-‹-›',
  eu-ES: '«-»-‹-›',
  be: '«-»-“-”',
  be-BY: '«-»-“-”',
  bg: '„-“-‘-’',
  bg-BG: '„-“-‘-’',
  ca: '«-»-“-”',
  ca-ES: '«-»-“-”',
  cy: '‘-’-“-”',
  zh-HK: '「-」-『-』',
  zh-MO: '「-」-『-』',
  zh-CN: '「-」-『-』',
  zh-CHS: '“-”-‘-’',
  zh-SG: '「-」-『-』',
  zh-TW: '「-」-『-』',
  zh-CHT: '「-」-『-』',
  hr: '„-”-‘-’',
  hr-HR: '„-”-‘-’',
  cs: '„-“-‚-‘',
  cs-CZ: '„-“-‚-‘',
  da: '»-«-›-‹',
  da-DK: '»-«-›-‹',
  nl: '‘-’-“-”',
  nl-BE: '‘-’-“-”',
  nl-NL: '‘-’-“-”',
  en: '“-”-‘-’',
  en-AU: '‘-’-“-”',
  en-BZ: '‘-’-“-”',
  en-CA: '‘-’-“-”',
  en-CB: '‘-’-“-”',
  en-IE: '‘-’-“-”',
  en-JM: '‘-’-“-”',
  en-NZ: '‘-’-“-”',
  en-PH: '‘-’-“-”',
  en-ZA: '‘-’-“-”',
  en-TT: '‘-’-“-”',
  en-GB: '‘-’-“-”',
  en-US: '“-”-‘-’',
  en-ZW: '‘-’-“-”',
  et: '„-“',
  et-EE: '„-“',
  fa: '«-»',
  fa-IR: '«-»',
  fi: '”-”-’-’',
  fi-FI: '”-”-’-’',
  fr: '«-»-“-”',
  fr-BE: '«-»-“-”',
  fr-CA: '«-»-“-”',
  fr-FR: '«-»-“-”',
  fr-LU: '«-»-“-”',
  fr-MC: '«-»-“-”',
  fr-CH: '«-»-‹-›',
  ka: '„-“',
  ka-GE: '„-“',
  de: '„-“-‚-‘',
  de-AT: '„-“-‚-‘',
  de-DE: '„-“-‚-‘',
  de-LI: '„-“-‚-‘',
  de-LU: '„-“-‚-‘',
  de-CH: '«-»-‹-›',
  el: '«-»-“-”',
  el-GR: '«-»-“-”',
  he: 'quot-quot-apos-apos',
  he-IL: 'quot-quot-apos-apos',
  hu: '„-”-»-«',
  hu-HU: '„-”-»-«',
  is: '„-“-‚-‘',
  is-IS: '„-“-‚-‘',
  id: '“-”-‘-’',
  id-ID: '“-”-‘-’',
  it: '«-»-“-”',
  it-IT: '«-»-“-”',
  it-CH: '«-»-‹-›',
  ja: '「-」-『-』',
  ja-JP: '「-」-『-』',
  ko: '“-”-‘-’',
  ko-KR: '“-”-‘-’',
  lv: '„-“-‘-’',
  lv-LV: '„-“-‘-’',
  lt: '„-“',
  lt-LT: '„-“',
  mk: '„-“-’-‘',
  mk-MK: '„-“-’-‘',
  no: '«-»-’-’',
  nb-NO: '«-»-’-’',
  nn-NO: '«-»-’-’',
  pl: '„-”-«-»',
  pl-PL: '„-”-«-»',
  pt: '«-»-“-”',
  pt-BR: '“-”-‘-’',
  pt-PT: '«-»-“-”',
  ro: '„-“-«-»',
  ro-RO: '„-“-«-»',
  ru: '«-»-„-“',
  ru-RU: '«-»-„-“',
  sr: '„-“-’-’',
  sr-sp: '„-“-’-’',
  sk: '„-“-‚-‘',
  sk-SK: '„-“-‚-‘',
  sl: '„-“-‚-‘',
  sl-SL: '„-“-‚-‘',
  es: '«-»-“-”',
  es-AR: '«-»-“-”',
  es-BO: '«-»-“-”',
  es-CL: '«-»-“-”',
  es-CO: '«-»-“-”',
  es-CR: '«-»-“-”',
  es-DO: '«-»-“-”',
  es-EC: '«-»-“-”',
  es-SV: '«-»-“-”',
  es-GT: '«-»-“-”',
  es-HN: '«-»-“-”',
  es-MX: '«-»-“-”',
  es-NI: '«-»-“-”',
  es-PA: '«-»-“-”',
  es-PY: '«-»-“-”',
  es-PE: '«-»-“-”',
  es-PR: '«-»-“-”',
  es-ES: '«-»-“-”',
  es-UY: '«-»-“-”',
  es-VE: '«-»-“-”',
  sv: '”-”-’-’',
  sv-FI: '”-”-’-’',
  sv-SV: '”-”-’-’',
  th: '“-”-‘-’',
  th-TH: '“-”-‘-’',
  tr: '“-”-‘-’',
  tr-TR: '“-”-‘-’',
  uk: '«-»-„-“',
  uk-UA: '«-»-„-“',
  vi: '“-”'
);
