// Afrikaans
// Chinese, Simplified
// English US
// Esperanto
// Filipino
// Indonesian
// Irish
// Korean
// Portuguese, Brazil
// Thai
// Turkish
%quote-style-“-”-‘-’ {
  quotes: '“' '”' '‘' '’';
}

// Azerbaijani
// Basque
// French Swiss
// German Swiss
// Italian Swiss
%quote-style-«-»-‹-› {
  quotes: '«' '»' '‹' '›';
}

// Belarusian
// Catalan
// French
// Greek
// Italian
// Portuguese, Portugal
// Spanish
%quote-style-«-»-“-” {
  quotes: '«' '»' '“' '”';
}

// Czech
// German
// Icelandic
// Slovak
// Slovene
%quote-style-„-“-‚-‘ {
  quotes: '„' '“' '‚' '‘';
}

// Bosnian
// Finish
// Swedish
%quote-style-”-”-’-’ {
  quotes: '”' '”' '’' '’';
}

// Dutch
// English, UK
// Welsh
%quote-style-‘-’-“-” {
  quotes: '‘' '’' '“' '”';
}

// Latvian
// Russian
// Ukrainian
%quote-style-«-»-„-“ {
  quotes: '«' '»' '„' '“';
}

// Albanian
// Bulgarian
%quote-style-„-“-‘-’ {
  quotes: '„' '“' '‘' '’';
}

// Chinese traditional
// Japanese
%quote-style-「-」-『-』 {
  quotes: '「' '」' '『' '』';
}

// Croatian
%quote-style-„-”-‘-’ {
  quotes: '„' '”' '‘' '’';
}

// Danish
%quote-style-»-«-›-‹ {
  quotes: '»' '«' '›' '‹';
}

// Hebrew
%quote-style-quot-quot-apos-apos {
  quotes: '"' '"' '&apos;' '&apos;';
}

// Hungarian
%quote-style-„-”-»-« {
  quotes: '„' '”' '»' '«';
}

// Macedonian
%quote-style-„-“-’-‘ {
  quotes: '„' '“' '’' '‘';
}

// Norwegian
%quote-style-«-»-’-’ {
  quotes: '«' '»' '’' '’';
}

// Polish
%quote-style-„-”-«-» {
  quotes: '„' '”' '«' '»';
}

// Romanian
%quote-style-„-“-«-» {
  quotes: '„' '“' '«' '»';
}

// Serbian
%quote-style-„-“-’-’ {
  quotes: '„' '“' '’' '’';
}

// Arabic
// Vietnamese
%quote-style-“-” {
  quotes: '“' '”';
}

// Armenian
// Farsi
%quote-style-«-» {
  quotes: '«' '»';
}

// Estonian
// Georgian
// Lithuanian
%quote-style-„-“ {
  quotes: '„' '“';
}
